.menu {
  position: fixed;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  background: var(--ui-menu-background-color);
  left: -10vw;
  top: 0;
  transition: left 0.75s cubic-bezier(0.84, 0.82, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .wrapper {
  width: 100vw;
  max-width: 480px;
  padding: .75rem;
}

.menu .menu-wrapper {
  padding: 2rem;
  color: var(--ui-menu-wrapper-font-color);
  background: var(--ui-menu-wrapper-background-color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.menu .menu-wrapper h1 {
  font-family: var(--font-2);
  font-size: 2.25rem;
}

.menu .menu-wrapper > * {
  display: block;
}

.menu .menu-wrapper .buttons {
  padding: 3rem 2rem;
}

.menu .menu-wrapper .buttons > * {
  display: block;
  padding: 0.75rem 1rem;
  background: rgba(200, 200, 200, 0.25);
  border: none;
  width: 100%;
  font-size: 1.125em;
  text-align: center;
  text-decoration: none;
  margin: 0.175rem 0;
  cursor: pointer;
}

.menu .buttons > *:not(.disabled):hover {
  text-decoration: underline;
}

.menu .menu-wrapper .buttons > .disabled {
  opacity: 0.5;
}

.menu-hamburger {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  width: 40px;
  background: transparent;
  z-index: 99998;
  border: none;
  cursor: pointer;
}

.menu-hamburger > span {
  height: 4px;
  display: block;
  background: var(--ui-menu-hamburger-button-color);
  margin-bottom: 6px;
}

.menu-hamburger > span:last-of-type {
  margin-bottom: 0;
}
