.current-level-panel {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  padding-left: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  #next-level-btn {
    background: var(--ui-menu-wrapper-background-color);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    opacity: 0.6;
    transition: all 0.25s ease;
    color: var(--ui-menu-wrapper-font-color);
    cursor: pointer;

    :hover {
      opacity: 1;
      border-radius: 10px;
    }
  }

  .levelCounter {
    padding: 1rem;
    font-size: 1.4rem;

    span:not(.slash) {
      font-weight: 700;
    }
  }
}
