.play-pause-button {
  color: #fff;
  position: fixed;
  font-size: 2rem;
  z-index: 99998;
  background: rgba(140, 140, 140, 0.7);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.running {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
  }

  &.stopped {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    display: flex;

    &::after {
      content: '';
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;    
      border-left: 85px solid var(--ui-play-button-color);
    }
  }
}
