main#main canvas {
    width: 100vw;
    height: 100vh;
}

.dom-engine-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--canvas-background-color);
    position: relative;
}

.dom-engine-wrapper .block {
    position: absolute;
    display: block;
}

.dom-engine-wrapper .player {
    background-color: var(--objects-player-color);
}

.dom-engine-wrapper .coin {
    border: 5px solid var(--objects-coin-color);
    transform: scale(.6);
    border-radius: 50%;
}

.dom-engine-wrapper .spikes {
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;    
    border-bottom: 15px solid var(--objects-spikes-color);
    transform: scale(0.7) translate(-5px, 10px);
}

.dom-engine-wrapper .wall {
    background-color: var(--objects-wall-body-color);
    border: 1px solid var(--objects-wall-border-color);
}

.dom-engine-wrapper .void {
    background-color: transparent;
}

.dom-engine-wrapper .diamond{
    background-color: var(--objects-diamond-color);
    transform: scale(0.2, 0.4) translateX(-12px);
}



