main#main canvas {
    width: 100vw;
    height: 100vh;
}

.dom-engine-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

.dom-engine-wrapper .row {
    height: 50px;
}

.dom-engine-wrapper .block {
    display: inline-block;
    width: 50px;
    height: 100%;
}

.player {
    background-color: var(--objects-player-color);
    background-image: url(./../textures/objects/player/frankenstein_cube.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.coin {
    border: 5px solid var(--objects-coin-color);
    transform: scale(.6);
    border-radius: 50%;
}

.spikes {
    background-color: var(--objects-spike-color);
}

.wall {
    background-color: var(--objects-wall-body-color);
    border: 2px solid var(--objects-wall-border-color);
}

.void {
    background-color: transparent;
}



